{% extends "landing_page.html" %}
{% block about %}
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

<div id="about">

    <h1 class="masthead-heading mb-0">About</h1>
</div>
<div id="page-top">
    <h5 class=" font-monospace">&nbsp;&nbsp;&nbsp;Meet the Team</h5>
    <span class="fw-normal meet d-inline-block" style="max-width: 100%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are a team of developers who created the Botschedule project to solve the challenges we faced during our learning phase at the ALX software engineering program. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our goal was to develop an application that would help us manage our time effectively and reinforce our knowledge in various topic areas we learned throughout the program.</span>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  
  <div class="col">
    <div class="card border-secondary">
      <img src="static/assets/img/onimisi.png" class="card-img-top omo" alt="...">
      <div class="card-body">
        <h5 class="card-title font-monospace">Adava Onimisi</h5>
        <p class="card-text font-monospace">Adava Onimisi is one of the authors of the Botschedule project. He is a full-stack developer from Nigeria. If you have any questions or feedback, you can contact him using the following platforms</p>
        <div class="card-body">
    <a href="https://github.com/Nomynameisjames" class="card-link" id="github"><iconify-icon icon="logos:github-icon" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;Github</a>
    <a href="twitter.com/Pathoverdex" class="card-link"><iconify-icon icon="skill-icons:twitter" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;Twitter</a>
    <a href="Adavaonimisi@gmail.com" class="card-link"><iconify-icon icon="mdi:email" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</a>
    <a href="www.linkedin.com/in/adava-onimisi-9bb5189a" class="card-link"><iconify-icon icon="skill-icons:linkedin" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn</a>
    
  </div>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary">
      <img src="static/assets/img/kenny.png" class="card-img-top omo" alt="...">
      <div class="card-body">
        <h5 class="card-title font-monospace">Kehinde Owolabi </h5>
        <p class="card-text font-monospace">Kehinde Owolabi is one of the authors of the Botschedule project. He is a Front-end developer and a Product designer from Nigeria. If you have any questions or feedback, you can contact him using the following platforms.</p>
        <div class="card-body">
    <a href="https://github.com/owolabi250" class="card-link" id="github"><iconify-icon icon="logos:github-icon" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;Github</a>
    <a href="twitter.com/Elder_Choco" class="card-link"><iconify-icon icon="skill-icons:twitter" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;Twitter</a>
    <a href="owolabikehinde250@gmail.com" class="card-link"><iconify-icon icon="mdi:email" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email</a>
    <a href="https://www.linkedin.com/in/owolabi-kehinde-37b448151/" class="card-link"><iconify-icon icon="skill-icons:linkedin" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn</a>
      </div>
    </div>
  </div>
</div>
<!-- <div id="page-top">
    <div class="card  border rounded" style="width: 100%; position: absolute;">
  <div class="card-body ">
    <h5 class="card-title">History</h5>
    <p class="card-text">As new students in the field, we were faced with the daunting task of digesting and processing a vast amount of information in various subject areas within a set timeline. It became apparent that effective time management and scheduling were critical to achieving productivity and meeting our deadlines.

    To solve these problems, we developed the Botschedule application. The app provides core functionality to organize and plan a daily schedule, including setting reminders for specific tasks, accessing relevant resources for a set topic of the day, interacting with a chatbot to get suggestions when stuck on certain concepts, taking a daily quiz to test knowledge, and visualizing productivity levels with graphs.</p>

    <p>This project is a portfolio project for Holberton School and is intended to showcase our skills and knowledge gained during the program. You can view the Botschedule application by clicking here.</p>

    <p>Botschedule is an open source project, and we welcome contributions from anyone interested in making the app better. You can find the public repository on GitHub here:</p>
    <a href="https://github.com/Nomynameisjames/Botschedule.git" class="card-link" id="github"><iconify-icon icon="logos:github-icon" width="20" height="20"></iconify-icon>&nbsp;&nbsp;&nbsp;Github</a>
  </div>
</div> -->

<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>A well-known quote, contained in a blockquote element.</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>

<footer class="try">
  <p>This is the footer.</p>
</footer>



{% endblock %}
