{% extends 'index.html' %}
{% block table %}
<script type="text/javascript"  src="static/script/JQue.js"></script>
<tr>
    <td><Default</td>
    <td><textarea class="Day" id="con" placeholder="%Y-%m-%d"></textarea></td>
    <td><textarea class="Course" id="con"></textarea></td>
    <td><textarea class="Topic" id="con"></textarea></td>
    <td><Default</td>
    <td><Default</td>
    <td><textarea class="Reminder" id="con" placeholder="%H-%m-%s"></textarea></td>
    <td><Default</td>
</tr>
</tbody>
<button id="add"><em>Save</button>
</table>
{% endblock %}
